
.containerAlteral{
    margin: 0;
    position: absolute;
    width: calc(100vw - 80px);
    height: calc(100vh - 120px);
    background-color: rgba(221, 221, 221, 0.479);
    display: none;
}

.containerFormAlterar{
    width: 900px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    -webkit-animation: scale-up-ver-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-ver-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }

.containerFormAlterar .titleAlterar {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
}

.containerInput{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alterar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alterar p{
    margin: 0;
    margin-left: 30px;
}

.alterar input, select{
    width: 300px;
    height: 40px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-bottom: 1px solid #ccc;
    outline: 0px;
} 

.alterar textarea{
    margin-top: 10px;
}

/* BUTTONS ALTERAR E CANCELAR */

.buttonsAlterar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.buttonsAlterar button{
    margin: 10px;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.buttonsAlterar button:nth-child(1){
    background-color:#1e77cf;
    color: #fff;
}

.buttonsAlterar button:nth-child(2){
    background-color:#8f8f8f;
    color: #fff;
}

/* ALERTA SUCESSO */
.containerAlerta{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 10px;
}
.alert-success{
    font-weight: bold;
}

/* ALERTA ERROR */
.containerAlertaError{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 10px;
}
.alert-success{
    font-weight: bold;
}
