@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.containerLeft{
    width: calc(100vw - 80px);
    height: calc(100vh - 120px);
/*     background-image: url('/public/img/one-single-line-drawing-of-space-man-astronaut-exploring-outer-space-launching-plane-paper-graphic-illustration-fantasy-outer-space-life-fiction-concept-modern-continuous-line-draw.png');
    background-size: 50%;
    background-repeat: no-repeat; */
}

.containerTitleForm{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTitleForm P{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}
#form{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.containerAllInfos{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerInfos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.flexInputs{
    width: 400px;
    height: 70px;
}

.flexInputs label{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    background-color: #1971e4;
    padding: 3px 15px 3px 15px;
    color: #fff;
    width: auto;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px ;
}

.flexInputs input{
    width: 350px;
    height: 45px;
    border: none;
    background-color: #d1d1d1;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    outline: 0px;
    text-align: center;
    background: linear-gradient(-45deg, #c2c2c2, #e4e4e4, #eeeeee, #cfcfcf);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
.flexInputs select{
    width: 350px;
    height: 45px;
    border: none;
    background-color: #d1d1d1;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #c2c2c2, #e4e4e4, #eeeeee, #cfcfcf);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
} 

.full{
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.buttonPost{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    margin-top: -30px;
}
.buttonPost button{
    width: 120px;
    height: 50px;
    border: none;
    background-color: rgb(12, 12, 12);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.buttonPost button:hover{
    background-color: rgb(235, 235, 235);
    color: black;
    transition: 0.5s;
}

/* ALERT */
.alertContainer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: none;
    background-color: rgba(255, 0, 0, 0.712);
    margin-top: -30px;
}
.alertContainer img{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-top: 20px;
}
.alertContainer p{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    color: #fff;
}

@-webkit-keyframes waterfall {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-250%);
              transform: translateY(-250%); }
    40%,
    60% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(250%);
              transform: translateY(250%); } }
  @keyframes waterfall {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-250%);
              transform: translateY(-250%); }
    40%,
    60% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(250%);
              transform: translateY(250%); } }
  
  .waterfall div {
    -webkit-animation: waterfall 1.5s infinite;
            animation: waterfall 1.5s infinite;
    background-color: var(--primary);
    height: 20px;
    left: 50%;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 20px; }
    .waterfall div:nth-of-type(1) {
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s;
      margin-left: -10px; }
    .waterfall div:nth-of-type(2) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
      margin-left: 15px; }
    .waterfall div:nth-of-type(3) {
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s;
      margin-left: -35px; }
    .waterfall div:nth-of-type(4) {
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
      margin-left: 40px; }
    .waterfall div:nth-of-type(5) {
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s;
      margin-left: -60px; }

.none{
    display: none;
}