@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

.containerDashMain{
    width: calc(100vw - 80px);
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

.containerSuperiorDados{
    width: 90%;
    height: 150px;
    display: block;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.containerCardUm,
.containerCardDois,
.containerCardTres,
.containerCardQuatro{
    width: 300px;
    height: 100px;
    display: flex;
}

/* Um */
.containerUmIcon {
    width: 100px;
    height: 100px;
    background-color: #317ee6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerUmInfo{
    width: 200px;
    height: 100px;
    background-color: #5d9ceb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .containerUmInfo p:nth-child(1){
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
    }
    .containerUmInfo p:nth-child(2){
        margin: 0;
        padding: 0;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: 'Noto Sans', sans-serif;
    }

/* Dois */
.containerDoisIcon{
    width: 100px;
    height: 100px;
    background-color: #5649a1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerDoisInfo{
    width: 200px;
    height: 100px;
    background-color: #7266ba;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
    .containerDoisInfo p:nth-child(1){
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
    }
    .containerDoisInfo p:nth-child(2){
        margin: 0;
        padding: 0;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: 'Noto Sans', sans-serif;
    }

/* Tres */
.containerTresIcon{
    width: 100px;
    height: 100px;
    background-color: #27977b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerTresInfo{
    width: 200px;
    height: 100px;
    background-color: #36bc9b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Quatro */
.containerQuatroIcon{
    width: 100px;
    height: 100px;
    background-color: #e08e12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerQuatroInfo{
    width: 200px;
    height: 100px;
    background-color: #efad4d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.containerInferiorDados{
    width: 90%;
    display: block;
    margin: 0 auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
}
.graficoUm{
    width: 50%;
    height: 600px;
}


