@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.containerPrincipalNav{
    width: 150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 6px 0px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 6px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -2px 12px 0px rgb(229 229 229 / 75%);
    z-index: 999;
}

.containerPrincipalNav a{
    text-decoration: none;
    color: black;
}

.containerMenu{
    width: 80px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.containerMenu:hover{
    background-color: rgb(238, 238, 238);
}

.containerMenu p{
    margin: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.containerMenu img{
    width: 30px;
}